body {
  background-image: url('../images/eniac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  padding-left: 1%;
  padding-right: 3%;
}

.form-group {
  margin-top: 0%;
  margin-bottom: 0%;
}

#done {
  margin-bottom: 7%;
}