body {
  background-image: url('../images/eniac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 48px;
  color: blue;
}

hr {
  border-color: dimgrey;
  background-color: dimgray;
}

label {
  padding-left: 1%;
  padding-right: 3%;
}

p {
  font-weight: 500;
}

.btn-lg {
  width: 33%;
  font-size: 28px;
}

.start-button {
  background-color: #80CBC4;
  border-color: green;
}

.stop-button {
  background-color: #F8BBD0;
  border-color: red;
}

.newcolor{
  background-color: #CFD8DC;
}

.form-group {
  margin-top: 0%;
  margin-bottom: 0%;
}

#done {
  margin-bottom: 7%;
}

#show-timer {
  visibility: hidden;
}

#stop {
  visibility: hidden;
}