body {
  background-image: url('../images/eniac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 48px;
}

label {
  padding-left: 1%;
  padding-right: 3%;
}

.btn-lg {
  width: 33%;
  font-size: 28px;
}

.form-group {
  margin-top: 0%;
  margin-bottom: 0%;
}

#done {
  margin-bottom: 7%;
}

#show-timer {
  visibility: hidden;
}

#stop {
  visibility: hidden;
}